<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.co.biglobe.isp.datasource.course.CourseQueryMapper">

    <insert id="register">
        INSERT INTO course_receipt_event
        (
        user_id,
        course,
        switching_date,
        system_receipt_date_time
        )
        VALUES
        (
        #{course.userId.value},
        #{course.currentCourse.courseName},
        #{today},
        sysdate
        )
    </insert>


    <select id="findByUserId" resultMap="CourseMap">
        SELECT
        course,
        switching_date
        FROM course_receipt_event
        where user_id = #{userId.value}
        ORDER BY switching_date DESC
    </select>


    <resultMap id="CourseMap" type="jp.co.biglobe.isp.domain.course.change_reserve.ValidCourseChangeReserve">
        <constructor>
            <arg javaType="jp.co.biglobe.isp.domain.course.change_reserve.ChangeReserveCourse" resultMap="ChangeReserveCourseMap"/>
            <arg javaType="jp.co.biglobe.isp.domain.course.change_reserve.CourseSwitchingDate" resultMap="CourseSwitchingDateMap"/>
        </constructor>
    </resultMap>

    <resultMap id="ChangeReserveCourseMap" type="jp.co.biglobe.isp.domain.course.change_reserve.ChangeReserveCourse">
        <constructor>
            <arg javaType="jp.co.biglobe.isp.domain.course.CourseName"
                 column="course"
                 typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
        </constructor>
    </resultMap>


    <resultMap id="CourseSwitchingDateMap" type="jp.co.biglobe.isp.domain.course.change_reserve.CourseSwitchingDate">
        <constructor>
            <arg column="switching_date" javaType="java.time.LocalDate" jdbcType="TIMESTAMP"/>
        </constructor>
    </resultMap>


</mapper>