<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.co.biglobe.isp.datasource.credit_card.CreditCardQueryMapper">

    <insert id="register">
        INSERT INTO credit_register_event
        (
        credit_card_number,
        user_id,
        system_receipt_date_time
        )
        VALUES
        (
        #{validCreditEntity.creditCardNumber.value},
        #{validCreditEntity.biglobeId.value},
        sysdate
        )
    </insert>

    <insert id="validRegister">
        INSERT INTO credit_valid_event
        (
        credit_card_number,
        valid_credit_card_status,
        system_receipt_date_time
        )
        VALUES
        (
        #{validCreditEntity.creditCardNumber.value},
        #{validCreditEntity.validCreditCardStatus},
        sysdate
        )
    </insert>



    <select id="findByCreditCard" resultMap="_CreditEntityMap">
        <include refid="selectColumnsDefine"/>
        <include refid="fromDefine" />
        where register.credit_card_number = #{creditCardNumber.value}
    </select>

    <select id="findByBiglobeId" resultMap="_CreditEntityMap">
        <include refid="selectColumnsDefine"/>
        <include refid="fromDefine" />
        where register.user_id = #{biglobeId.value}
    </select>

    <sql id="selectColumnsDefine">
        SELECT
        register.credit_card_number,
        user_id,
        valid.valid_credit_card_status
    </sql>

    <sql id="fromDefine">
        FROM credit_register_event register
        LEFT JOIN credit_valid_event_latest_v valid ON register.credit_card_number = valid.credit_card_number
    </sql>

    <resultMap id="_CreditEntityMap" type="jp.co.biglobe.isp.domain.credit_card.ValidCreditEntity">
        <constructor>
            <arg javaType="jp.co.biglobe.isp.domain.credit_card.CreditCardNumber" resultMap="CreditCardNumberMap"/>
            <arg javaType="jp.co.biglobe.isp.domain.member.BiglobeId" resultMap="BiglobeIdMap"/>
            <arg javaType="jp.co.biglobe.isp.domain.credit_card.ValidCreditCardStatus"
                 column="valid_credit_card_status"
                 typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
        </constructor>
    </resultMap>

    <resultMap id="CreditCardNumberMap" type="jp.co.biglobe.isp.domain.credit_card.CreditCardNumber">
        <constructor>
            <arg column="credit_card_number" javaType="String" jdbcType="VARCHAR"/>
        </constructor>
    </resultMap>


    <resultMap id="BiglobeIdMap" type="jp.co.biglobe.isp.domain.member.BiglobeId">
        <constructor>
            <arg column="user_id" javaType="String" jdbcType="VARCHAR"/>
        </constructor>
    </resultMap>

</mapper>