<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       ">


    <!-- ======================================================================
    |
    |    テストコード用のアプリケーションコンテキストの設定ファイル
    |
    =========================================================================== -->


    <!-- 全プロジェクトで共通のテストコードの設定ファイルの読込 -->
    <import resource="base/base-root.xml"/>


    <!-- ================== プロジェクト固有の設定の記述ココから ================== -->


</beans>
